@using Microsoft.AspNetCore.Identity
@model IEnumerable<ResolutionManagement.Models.Resolution>

@{
    ViewData["Title"] = "Index";
    Resolution[] ResolvedResolutions = ViewData["ResolutionsAlreadyResolved"] as Resolution[];
    IdentityUser[] BoardMembers = ViewData["BoardMembers"] as IdentityUser[];
    string? id = ViewData["OwnerUserID"] as string;
    var i = 0;
    Console.Write("\nResolved Length: " + ResolvedResolutions.Length + "\n");
}

<h1>Resolution</h1>

<p>
    <a asp-action="Create">
        Create New</a>
    
    @using (Html.BeginForm("Index","Resolution",FormMethod.Get)){
        <p>Search: @Html.TextBox("SearchString") 
            @* <br/> *@
        <input type="submit" value="Search"/></p>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResolutionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Username
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResolutionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @foreach (IdentityUser member in BoardMembers)
                {
                    if (item.OwnerUserID == member.Id)
                    {
                        @Html.DisplayFor(modelItem => member.Email)
                    }
                }
            </td>
            <td>
                @foreach (Resolution resolution in ResolvedResolutions)
                {
                    if (resolution.ResolutionId == item.ResolutionId)
                    {
                        @Html.ActionLink("Resolve", "Resolve", new { id=item.ResolutionId })
                    }
                    if (resolution.OwnerUserID == id && resolution.Status == "Draft") {
                        @Html.ActionLink("Edit", "Edit", new { id=item.ResolutionId })
                    }
                }
                @if (item.OwnerUserID == id &&  item.Status == "Draft") {
                    @Html.ActionLink("Edit", "Edit", new { id=item.ResolutionId })
                }
                |
                @Html.ActionLink("Details", "Details", new { id=item.ResolutionId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ResolutionId }) |
            </td>
        </tr>
}
    </tbody>
</table>
