@model IEnumerable<ResolutionManagement.Models.Resolution>

@{
    ViewData["Title"] = "Index";
    Resolution[] ResolvedResolutions = ViewData["ResolutionsAlreadyResolved"] as Resolution[];
    var i = 0;
    Console.Write("\nResolved Length: " + ResolvedResolutions.Length + "\n");
}

<h1>Resolution</h1>

<p>
    <a asp-action="Create">
        Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResolutionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerUserID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResolutionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerUserID)
            </td>
            <td>
                @foreach (Resolution resolution in ResolvedResolutions)
                {
                    if (resolution.ResolutionId == item.ResolutionId)
                    {
                        @Html.ActionLink("Resolve", "Resolve", new { id=item.ResolutionId })
                    }
                }
                |
                @Html.ActionLink("Edit", "Edit", new { id=item.ResolutionId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ResolutionId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ResolutionId }) |
            </td>
        </tr>
}
    </tbody>
</table>
